In [1]:
import pandas as pd

In [4]:
pd.__version__

'2.2.2'

df = pd.read_parquet("yellow_tripdata_2024-01.parquet")

df.to_csv('/home/gerardo/Documents/proyect/zoomcamp/yellow_tripdata_2024-01.csv', index=False)

In [16]:
df = pd.read_csv('yellow_tripdata_2024-01.csv', nrows=100)

In [17]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee
0,2,2024-01-01 00:57:55,2024-01-01 01:17:43,1.0,1.72,1.0,N,186,79,2,17.7,1.0,0.5,0.00,0.0,1.0,22.70,2.5,0.0
1,1,2024-01-01 00:03:00,2024-01-01 00:09:36,1.0,1.80,1.0,N,140,236,1,10.0,3.5,0.5,3.75,0.0,1.0,18.75,2.5,0.0
2,1,2024-01-01 00:17:06,2024-01-01 00:35:01,1.0,4.70,1.0,N,236,79,1,23.3,3.5,0.5,3.00,0.0,1.0,31.30,2.5,0.0
3,1,2024-01-01 00:36:38,2024-01-01 00:44:56,1.0,1.40,1.0,N,79,211,1,10.0,3.5,0.5,2.00,0.0,1.0,17.00,2.5,0.0
4,1,2024-01-01 00:46:51,2024-01-01 00:52:57,1.0,0.80,1.0,N,211,148,1,7.9,3.5,0.5,3.20,0.0,1.0,16.10,2.5,0.0

In [18]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [19]:
from sqlalchemy import create_engine

In [20]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [21]:
engine.connect()

In [22]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	"RatecodeID" FLOAT(53),
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53),
	"Airport_fee" FLOAT(53)
)

In [27]:
df_iter = pd.read_csv('yellow_tripdata_2024-01.csv', iterator=True, chunksize=100000)

In [30]:
df = next(df_iter)

In [32]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [37]:
len(df)

100000

In [36]:
df.head(n=0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

0

In [39]:
%time df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

CPU times: user 4.68 s, sys: 159 ms, total: 4.84 s
Wall time: 7.15 s

1000

In [40]:
from time import time

In [41]:
while True:
    t_start = time()
    df =next(df_iter)

    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

    df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

    t_end = time()

    print('Insert another chunk..., took %.3f second' % (t_end - t_start))

Insert another chunk..., took 7.034 second
Insert another chunk..., took 7.046 second
Insert another chunk..., took 7.135 second
Insert another chunk..., took 6.965 second
Insert another chunk..., took 7.141 second
Insert another chunk..., took 7.080 second
Insert another chunk..., took 7.031 second
Insert another chunk..., took 7.149 second
Insert another chunk..., took 7.398 second
Insert another chunk..., took 7.200 second
Insert another chunk..., took 6.927 second
Insert another chunk..., took 6.910 second
Insert another chunk..., took 6.906 second
Insert another chunk..., took 6.900 second
Insert another chunk..., took 7.011 second
Insert another chunk..., took 7.021 second
Insert another chunk..., took 6.724 second
Insert another chunk..., took 6.997 second
Insert another chunk..., took 6.977 second
Insert another chunk..., took 6.993 second
Insert another chunk..., took 7.078 second
Insert another chunk..., took 6.928 second
Insert another chunk..., took 6.904 second
Insert another chunk..., took 6.768 second
Insert another chunk..., took 6.802 second
Insert another chunk..., took 7.405 second
Insert another chunk..., took 6.863 second

/tmp/ipykernel_1532821/2433658206.py:3: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df =next(df_iter)

Insert another chunk..., took 6.192 second
Insert another chunk..., took 3.951 second

StopIteration: